body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 0);
    font-family: 'Lato', sans-serif;
}

.title {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 30px 0 0 30px;
    font-size: 50px;
}

.title-wrap {
    background-color: rgba(40, 75, 99, 1);
}

.subtitle {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0 30px 30px 30px;
    font-weight: 200;
}

.subtitle2 {
    color: rgba(53, 53, 53, 1);
    padding: 10px 0 0 0;
    font-weight: 500;
    text-align: center;
}

.form-wrap {
    padding: 20px;
    text-align: center;
}

.submit-btn:hover {
    cursor: pointer;
}

.container {
    text-align: center;
    margin: 30px 50px 50px 50px;
}

.container a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px 20px 50px 20px;
    background-color:  rgba(217, 217, 217, 0.5);
}

.container a:hover {
    background-color:  rgba(217, 217, 217, 1);
}

ul li:hover {
    cursor: pointer;
}

.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

img {
    width: 100%;
}

.product-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div {
    padding: 20px;
}

footer {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    background-color:  rgba(217, 217, 217, 1);
}

.loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }